@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
    font-family: 'Open Sans', sans-serif;
}

#main-container {
    .container {
        background: #EEEEEE;
        border-radius: 10px;
        margin-top: 3%;
        .top-block {
            padding-top: 5%;
            
            h1 {
                font-size: 3.5em;
            }
            .img-thumbnail {
                padding: 0;
            }
            .image-sign {
                font-size: 14px;
            }
        }
        .bottom-block {
            width: 80%;
            
            h3 {
                padding-top: 4%;
                font-size: 1.5em;
                font-weight: 400;
            }
            
            li {
                font-size: 13.5px;
            }
        }
        .container-fluid {
            .quote {
                width: 75%;
                blockquote {
                    text-align: left;
                    letter-spacing: 0;
                    padding-top: 5%;
                    font-size: 1.4em;
                }

                cite {
                    font-size: 14px;
                }
            }
            
            .wiki {
                width: 80%;
                padding-top: 4%;
                font-size: 1.5em;
            }
            
            @media only screen and (max-width: 600px) {
                .wiki {
                    width: 100%;
                }
                
                .quote {
                    width: 90%;
                }
            }
        }
    }
}